@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

// центрирует элемент по вертикали и горизонтали
@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// MEDIA QUERY MANAGER
/*
0 - 600px:           Phone
600 - 900px:         Tablet protrait
900 - 1200px:        Tablet landscape
[1200 - 1800] is there our normal styles apply
1800px + :           Big desktop
*/

/* 
Пример как бы мы использовали mixins в px 
@mixin respond-phone {
  @media (max-width: 600px) {
    @content;
  }
}
*/

/*
$breakpoint argument choices
В медиа запросах переводим размер шрифта из px в em
- phone          (max-width: 600px = 600px/16px = 37.5em)
- tab-port       (max-width: 900px = 900px/16px = 56.25em)
- tab-land       (max-width: 1200px = 1200px/16px = 75em)
- big-desktop    (min-width: 1800px = 1800px/16px = 112.5em)

ORDER: Base + typography > general layout + grid > page layout > components


1em = 16px - размер шрифта в браузере по умолчанию
*/
@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) {
      @content;
    } // 600px
  }

  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) {
      @content;
    } // 900px
  }

  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) {
      @content;
    } // 1200px
  }

  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) {
      @content;
    } // 1800px
  }
}

